html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: 'M PLUS Rounded 1c','BIZ UDPGothic',sans-serif;
    background-color: #F7F4E9;
    color: var(--font-color);
}

:root {
    --main-color: #9F2A00;
    --font-color: #3F342D;
}

.btn-1 {
    text-decoration: none;
    color: var(--font-color);
    display: flex;
    align-items: center;
    margin: 1em 0;
    gap: 10px;
}

.btn-1::before {
    display: block;
    content: "";
    background: url(btn-arrow.svg) no-repeat;
    width: 24px;
    aspect-ratio: 1;
    background-size: contain;
}

.bp {
    display: inline-block;
}

.content-list {
    padding-left: 1.5em;
}

.content-list li {
    list-style: none;
}