.about main {
    padding: 0 28px;
}

.about section {
    margin: 50px auto;
}

.about h2 {
    font-size: clamp(20px,4vw,30px);
    display: flex;
    gap: 8px;
    margin-left: -8px;
}

.about h2::before {
    content: "";
    display: block;
    min-width: 24px;
    aspect-ratio: 4/5;
    background-image: url(leaf.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/************
beginning,to-blog
*************/
.beginning img {
    border-radius: 15px;
    max-width: 320px;
    margin: 1em auto;
}

@media(min-width:640px) {
    .beginning .about-wr {
        display: flex;
        align-items: flex-start;
        gap: 1%;
    }

    .beginning img {
        width: 39.5%;
        max-width: 450px;
    }    

    .beginning .text {
        width: 59.5%;
    }

    .to-blog .text {
        text-align: center;
        margin: 0 auto;
        max-width: unset;
    } 
}

/*********
philosophy
**********/
.philosophy ul {
    padding: 0;
}

.philosophy ul > li {
    margin-bottom: 40px;
}

.philosophy h3 {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
    font-size: clamp(18px,4vw,28px);
}

.philosophy h3::before {
    content:"●";
    display: block;
    color: var(--main);
}

.philosophy .rinen {
    max-width: 1000px;
    margin: 0 auto;
}

.philosophy .text-box {
    margin: 1em auto;
}

.philosophy .text-box p {
    margin: 0;
}

.philosophy .text-box li {
    list-style-type: decimal;
}

.philosophy .greet-wr .riji {
    max-width: 250px;
    aspect-ratio: 3/4;
    margin: 1em auto;
    object-fit: cover;
}

@media(min-width:740px) {
    .philosophy .greet-wr {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}

/***********
ayumi
***********/
.ayumi #ayumi-list {
    height: 300px;
    overflow-y: hidden;
    position: relative;
}

.ayumi #ayumi-list::after {
    background: linear-gradient(180deg, rgb(255, 255, 255, 0) 0%, rgb(247, 244, 233, 1) 85%);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.ayumi #ayumi-list.open {
    height: 100%;
    overflow-y: auto;
}

.ayumi #ayumi-list.open::after {
    display: none;
}

.ayumi #ayumi-list div {
    border-left: 4px solid var(--main);
    padding-bottom: 12px;
    position: relative;
}

.ayumi #ayumi-list div::before {
    content: "●";
    color: var(--main);
    font-size: 22px;
    display: block;
    position: absolute;
    top: -3px;
    left: -13px;
}

.ayumi #ayumi-list div dt {
    color: var(--main);
    font-weight: 800;
    width: fit-content;
    margin: 0 16px;
    font-size: clamp(18px, 4vw, 24px);
}

.ayumi #ayumi-list div .text {
    margin: 24px 16px;
}