#smile .content-wr {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    border-bottom: 2px dotted var(--main-color);
}

#smile .content-wr .text-wr {
    max-width: 30rem;
}

#smile .content-wr img {
    object-fit: cover;
}

#smile > .content-wr:nth-of-type(1) {
    border-top: 2px dotted var(--main-color);
    margin-top: 30px;
}

#smile > .content-wr:nth-of-type(3) img,
#smile > .content-wr:nth-of-type(4) img{
    max-height: 315px;
    width: auto;
}

#smile .content-wr h3 {
    font-size: clamp(20px,4vw,24px);
    margin: 10px 0;
}

#smile .content-wr .text {
    margin: 0;
}

#smile .content-wr .btn-1 {
    margin: 6px 0 1em;
    font-size: clamp(16px, 3.5vw, 20px);
}

@media(min-width:1024px){
    #smile .content-wr {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    #smile .content-wr img{
        width: min(50%,420px);
    }

    #smile .content-wr h3 {
        margin: 0 0 12px;
    }
}