/***********
下層ページ共通
************/
body {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 500;
}

.content section {
    margin: 36px auto;
}

.content .text {
    font-family: 'BIZ UDPGothic',sans-serif;
    line-height: 1.8;
    font-weight: 400;
    max-width: 40em;
}

.content .content-head {
    width: 100%;
    border-bottom: #E7E8E7 solid 2px;
    display: block;
    margin-bottom: 1em;
}

.content .content-head .head-wr {
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px var(--main-color);
    width: fit-content;
    padding: 0 10px;
    margin-bottom: -2px;
}

.content .content-head p {
    margin: 10px 0;
}

.content .content-head h2 {
    margin: 0;
}

.content img {
    width: min(100%,420px);
    margin: 0;
    border-radius: 20px;
    display: block;
}

.content h1,.content h2,.content h3 {
    color: var(--main-color);
    font-weight: 500;
}

.btn-2 {
    font-size: clamp(18px,3.5vw,22px);
}

.btn-2::after {
    content:">";
}

/** fv **/
.fv .inner {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 1em;
}

.fv hgroup p {
    color: #fff;
    background-color: var(--main-color);
    width: fit-content;
    padding: 4px 8px;
}

.fv hgroup p::before {
    content: "●";
}

.fv hgroup h1 {
    color: var(--main-color);
    margin: 16px 0 16px 8px;
}

.fv .inner .access {
    padding-left: 8px;
}

.fv .inner .access .highlight {
    color: var(--main-color);
}

.fv .inner .access .call {
    color: var(--font-color);
    text-decoration: none;
    display: inline;
}

.fv .fv-content .fv-inner h2 {
    color: var(--main-color);
    margin: 10px 0;
}

@media(min-width:750px){
    .content .fv {
    margin: 0 auto;
}
}

@media(min-width:920px){
    .fv .inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
}

@media(min-width:1024px){
    .fv .fv-content {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    
    .fv .fv-content img{
        width: min(50%,420px);   
        margin-block-start: 1.5em;
    }
}

/** news **/
#news .news-wr h3 {
    font-size: clamp(20px,4vw,24px);
    margin: 10px 0;
}

#news .news-wr .text {
    margin: 0;
}

#news .news-wr .btn-1 {
    margin: 6px 0 1em;
    font-size: clamp(16px, 3.5vw, 20px);
}

#news .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6px 2%;
    margin: 1.5em 0;
}

#news .images img {
    width: min(49%,200px);
    flex-basis: 49%;
    margin: 0;
}

/* ポップアップ背景 */
.popup {
  display: none; /* 初期は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media(min-width:1024px){
    #news .content-inner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    
    #news .content-inner img{
        width: min(50%,420px);   
    }

    #news .images img {
    height: auto;
}

    #news .news-wr h3 {
        margin: 0 0 12px;
    }
}

@media(min-width:1200px){
    #news .images img {
        flex-basis: 23%;
    }
}

/** support **/
.content .content-list {
    counter-reset: support;
    padding-left: 30px;
}

.content .content-list li {
    margin: 1em 0;
    counter-increment: support;
}

#support h3 {
    position: relative;
    margin: 0;
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}

.content .content-list h3::before,.content .content-list li::before {
    content: counter(support);
    background-color: var(--main-color);
    border-radius: 50%;
    width: 30px;
    display: block;
    color: #fff;
    aspect-ratio: 1;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -36px;
}

#support .text {
    margin: 0;
    font-size: clamp(16px,3.5vw,20px);
}

@media(min-width:640px){
    #support .content-list {
        margin: 16px;
    }
}

/** guide **/
#guide .text {
    font-size: clamp(16px,3.5vw,20px);
}

#guide .content-list li {
    position: relative;
    color: var(--main-color);
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}
@media(min-width:640px){
    .content .content-wr {
        margin: 16px;
    }
}

/** policy **/
#policy ul {
    padding-left: 0em;
    font-size: clamp(16px, 3.5vw, 20px); 
    max-width: 820px;
}

#policy ul p {
    margin: 0; 
}

#policy ul li:not(:first-child) {
    list-style: outside disc;
    margin: 8px 0 8px 1.25em;
}

/** facility **/
#facility p {
    font-size: clamp(16px, 3.5vw, 20px);
}

.info-table {
    width: 100%;
    max-width: 880px;
    font-size: clamp(16px, 3.5vw, 20px); 
    margin: 40px 0;
}

.info-table tr {

}

.info-table th {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 400;
}

.info-table td {
}

/* スマホ版 */
@media (max-width: 900px) {
    .info-table tr {
        display: table-row;
        margin-bottom: 0;
    }

    .info-table th {
        display: table-cell;
        width: 180px;
        border-radius: 5px 0 0 5px;
        padding: 14px 20px;
        margin-top: 0;
    }

    .info-table td {
        display: table-cell;
        border-radius: 0 5px 5px 0;
        padding: 14px 20px;
        width: 200px;
    }
}

.fee-table table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: clamp(16px, 3.5vw, 20px); 
}

.fee-table th {
    background: #8a2100;
    color: #fff;
    padding: 14px 20px;
    width: 180px; 
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #8a2100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fee-table td {
    position: relative;
    background: #fff;
    padding: 14px 20px;
    border-left: none;
    border: 1px solid #9f2a00;
}

.fee-table .title {
    font-weight: bold;
}

.fee-table th {
    margin-top: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
}

@media(min-width: 900px) {
    .fee-table table {
        display: table;
    }

    .fee-table tr {
        display: table-row;
    }

    .fee-table th {
        display: table-cell;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom: none;
        margin-top: 0;
        width: 180px;
    }

    .fee-table td {
        display: table-cell;
    }
}

#fees p {
    font-size: clamp(16px, 3.5vw, 20px); 
}

#fees .way {
    color: #9f2a00;
    margin-top: 16px;
}

/***********
しいのみ園
************/
.shiinomien.show {
    overflow: hidden;
}

.shiinomien #news {
    position: relative;
}

.shiinomien #news .popup-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin: auto;
}

.shiinomien.show #news .popup-content {
    display: block;
}

.shiinomien #news .popup-wr {
    width: min(90%, 600px);
    position: fixed;
    height: 50%;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
}

.shiinomien #news .popup-wr::before {
    content: "\0d7";
    position: absolute;
    font-size: 50px;
    top: -18px;
    left: 12px;
}

.shiinomien #news .popup-wr #dairylist {
    width: min(100%, 600px);
    height: 100%;
    object-fit: contain;
    border-radius: 0;
}

@media(min-width: 640px) {
    .shiinomien #news .popup-wr {
        height: 80%;
    }
}