/***********
下層ページ共通
************/
body {
<<<<<<< Updated upstream
    max-width: var(--mw-1200);
    margin: 0 auto;
    font-weight: 500;
    padding: 0 18px;
}

main {
    padding: 0 8px;
=======
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 500;
>>>>>>> Stashed changes
}

.content section {
    margin: 36px auto;
}

.content .text {
    font-family: 'BIZ UDPGothic',sans-serif;
    line-height: 1.8;
    font-weight: 400;
    max-width: 40em;
}

<<<<<<< Updated upstream
=======
.content .content-head {
    width: 100%;
    border-bottom: #E7E8E7 solid 2px;
    display: block;
    margin-bottom: 1em;
}

.content .content-head .head-wr {
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px var(--main-color);
    width: fit-content;
    padding: 0 10px;
    margin-bottom: -2px;
}

.content .content-head .before-line {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.content .content-head .before-line::before {
    content: "-";
    display: block;
}


.content .content-head h2 {
    margin: 0;
}

>>>>>>> Stashed changes
.content img {
    width: min(100%,420px);
    margin: 0;
    border-radius: 20px;
    display: block;
}

.content h1,.content h2,.content h3 {
    color: var(--main-color);
    font-weight: 500;
}

.btn-2 {
    font-size: clamp(18px,3.5vw,22px);
}

<<<<<<< Updated upstream
=======
.btn-2::after {
    content:">";
}

>>>>>>> Stashed changes
/** fv **/
.outline > .inner {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 1em;
}

.outline hgroup p {
    color: #fff;
    background-color: var(--main-color);
    width: fit-content;
    padding: 4px 8px;
}

.outline hgroup p::before {
    content: "●";
}

.outline hgroup h1 {
    color: var(--main-color);
    margin: 16px 0 16px 8px;
}

.outline .inner .access {
    padding-left: 8px;
}

.outline .inner .access .highlight {
    color: var(--main-color);
}

.outline .inner .access .call {
    color: var(--font-color);
    text-decoration: none;
    display: inline;
    margin-right: 1rem;
}

.outline .outline-content .outline-inner h2 {
    color: var(--main-color);
    margin: 10px 0;
}

@media(min-width:750px){
    .content .fv {
        margin: 0 auto;
    }
}

@media(min-width:920px){
    .outline > .inner {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media(min-width:1024px){
    .outline .outline-content {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .outline .outline-content img{
        width: min(50%,420px);
        margin-block-start: 1.5em;
    }
}

/** news **/
<<<<<<< Updated upstream
#news .content-inner img {
    margin: 1em auto;
}

=======
>>>>>>> Stashed changes
#news .news-wr h3 {
    font-size: clamp(20px,4vw,24px);
    margin: 10px 0;
}

#news .news-wr .text {
    margin: 0;
}

#news .news-wr .btn-1 {
    margin: 6px 0 1em;
    font-size: clamp(16px, 3.5vw, 20px);
}

#news .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
<<<<<<< Updated upstream
    gap: 6px 1%;
=======
    gap: 6px 2%;
>>>>>>> Stashed changes
    margin: 1.5em 0;
}

#news .images img {
    width: min(49%,200px);
    flex-basis: 49%;
    margin: 0;
}

/* ポップアップ背景 */
.popup {
    display: none; /* 初期は非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media(min-width:1024px){
    #news .content-inner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    #news .content-inner img{
        width: min(50%,420px);
    }

    #news .images img {
    height: auto;
}

    #news .news-wr h3 {
        margin: 0 0 12px;
    }
}

@media(min-width:1200px){
    #news .images img {
        flex-basis: 23%;
    }
}

/** support **/
.content .content-list {
    counter-reset: support;
    padding-left: 30px;
}

.content .content-list li {
    margin: 1em 0;
    counter-increment: support;
}

#support h3 {
    position: relative;
    margin: 0;
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}

.content .content-list h3::before,.content .content-list li::before {
    content: counter(support);
    background-color: var(--main-color);
    border-radius: 50%;
    width: 30px;
    display: block;
    color: #fff;
    aspect-ratio: 1;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -36px;
    top: 3px;
}

#support .text {
    margin: 0;
    font-size: clamp(16px,3.5vw,20px);
}

@media(min-width:640px){
    #support .content-list {
        margin: 16px;
    }
}

/** guide **/
#guide .text {
    font-size: clamp(16px,3.5vw,20px);
}

#guide .content-list li {
    position: relative;
    color: var(--main-color);
    font-size: clamp(20px,4vw,24px);
    display: flex;
}

@media(min-width:640px){
    .content .content-wr {
        margin: 16px;
    }
}

/** policy **/
#policy ul {
    padding-left: 0em;
    font-size: clamp(16px, 3.5vw, 20px);
    max-width: 820px;
}

#policy ul p {
    margin: 0;
}

#policy ul li:not(:first-child) {
    list-style: outside disc;
    margin: 8px 0 8px 1.25em;
}

/** facility **/
#facility p {
    font-size: clamp(16px, 3.5vw, 20px);
}

<<<<<<< Updated upstream
=======
.info-table {
    width: 100%;

}

.info-table th,
.info-table td {
    display: block;
    width: 100%;
    border: 2px solid var(--main-color);
    font-size: 16px;
}

.info-table th {
    background: var(--main-color);
    color: #ffffff;
    white-space: nowrap;
    border-radius: 6px 6px 0 0;
    padding: 14px 20px;
    margin-top: 0;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
    min-width: 180px;
}

.info-table tr {
    display: block;
    margin-bottom: 16px;
}

.info-table td {
    border-top: 0;
    padding: 14px;
    text-align: center;
    background: #ffffff;
    padding: 10px 10px 10px 20px;
    border-radius: 0 0 6px 6px;
    font-family: var(--text-font);
    line-height: 1.6;
    letter-spacing: 1px;
}

>>>>>>> Stashed changes
.sub-table {
    border-spacing: 0;
}

.sub-table tr {
    display: flex;
    margin-bottom: 0;
}

.sub-table tr:first-child {
    flex-wrap: wrap;
}

.sub-table tr:first-child td {
    flex-basis: 50%;
}

.sub-table tr td {
    border-radius: 0;
}

.sub-table tr > *:last-child {
    border-radius: 0;
}

.sub-table tbody tr:first-child td {
    border-top: 2px solid var(--main-color);
}

.sub-table tbody tr:last-child td:nth-child(1) {
    border-radius: 0 0 0 6px;
}

.sub-table tbody tr:last-child td:nth-child(2) {
    border-radius: 0 0 6px 0;
}

@media (min-width:500px) {
<<<<<<< Updated upstream
    .sub-table {
        border-spacing: 0;
    }

    .sub-table tr {
        display: table-row;
=======
    .info-table {
        border-spacing: 0 10px;
    }

    .sub-table {
        border-spacing: 0;
>>>>>>> Stashed changes
    }

    .sub-table tr td {
        border-top: 0;
        width: 50%;
<<<<<<< Updated upstream
        display: table-cell;
    }

=======
    }

    .info-table tr {
        display: table-row;
        margin-bottom: 0;
    }

    .info-table th,
    .info-table td {
        display: table-cell;
        width: auto;
    }

    .info-table th,
>>>>>>> Stashed changes
    .sub-table th {
        border-radius: 6px 0 0 6px;
    }

<<<<<<< Updated upstream
=======
    .info-table td {
        border-radius: 0 6px 6px 0;
        border: 2px solid var(--main-color);
        border-left: 0;
        text-align: left;
        width: 80%;
    }

>>>>>>> Stashed changes
    .sub-table tbody tr:last-child td:nth-child(1) {
        border-radius: 0;
    }

    .sub-table tbody tr:first-child td:nth-child(3) {
        border-radius: 0 6px 0 0;
    }
}

#fees .sub-table {
    margin-bottom: 16px;
}

#fees p {
    font-size: clamp(16px, 3.5vw, 20px);
    font-family: var(--text-font);
    line-height: 1.4;
}

#fees .way {
<<<<<<< Updated upstream
    color: var(--main-color);
=======
    color: #9f2a00;
>>>>>>> Stashed changes
    margin-top: 16px;
    line-height: 2;
}

/***********
しいのみ園
************/
.shiinomien.show {
    overflow: hidden;
}

.shiinomien #news {
    position: relative;
}

.shiinomien #news .popup-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin: auto;
}

.shiinomien.show #news .popup-content {
    display: block;
}

.shiinomien #news .popup-wr {
    width: min(90%, 600px);
    position: fixed;
    height: 50%;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
}

.shiinomien #news .popup-wr::before {
    content: "\0d7";
    position: absolute;
    font-size: 50px;
    top: -18px;
    left: 12px;
}

.shiinomien #news .popup-wr #dairylist {
    width: min(100%, 600px);
    height: 100%;
    object-fit: contain;
    border-radius: 0;
}

@media(min-width: 640px) {
    .shiinomien #news .popup-wr {
        height: 80%;
    }
}

