main {
    padding: 0 clamp(10px, 2vw, 50px);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

/*******
boxes-wr 
********/

.boxes-wr {
    border-radius: 30px;
    padding: 0 clamp(10px, 3vw, 20px) clamp(20px, 3vw, 30px);
    margin: 30px auto;
    background-color: #FFFCF3;
    max-width: 420px;
}

.boxes-wr .facility-name-head {
    gap: 14px;
    font-size: clamp(24px, 5vw, 40px);
    letter-spacing: 2px;
    margin: 30px 0;
}

.boxes-wr .facility-name-head::before {
    width: 16px;
    height: 16px;
}

.boxes-wr ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px 20px;
}

.boxes-wr ul li {
    display: flex;
}

.boxes-wr ul li .box {
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
}

.boxes-wr ul li .box img {
    object-fit: cover;
    max-height: 300px;
    aspect-ratio: 3/2;
}

.boxes-wr ul li .box .text-box {
    padding: 0 10px clamp(16px, 3vw, 28px);
}

.boxes-wr ul li .box .text-box .small-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0;
}

.boxes-wr ul li .box .text-box .title-wr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: clamp(16px, 3vw, 28px) 0;
}

.boxes-wr ul li .box .text-box .title-wr h3 {
    font-size: clamp(24px, 4vw, 28px);
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.boxes-wr ul li .box .text-box .title-wr .toggle{
    background-color: #000;
    width: 55px;
    height:24px;
    margin-left: auto;
}

.boxes-wr ul li .box .text-box .desc {
    font-size: clamp(16px, 3vw, 18px);
    font-family: var(--text-font);
    line-height: 1.6em;
    letter-spacing: 1px;
    margin: 16px 0 0;
}

.boxes-wr ul li .box .text-box .small-title::before {
    content: "";
    border-radius: 100vh;
    width: 10px;
    height: 10px;
}

@media(min-width:700px) {
    .boxes-wr {
    max-width: 830px;
}
}

@media(min-width:1100px) {
    .boxes-wr {
        padding: 0 50px 30px;
        max-width: none;
    }
    .boxes-wr ul{
        display: block;
    }
    
    .boxes-wr ul li .box {
        display: flex;
        margin-bottom: 30px;
    }
    .boxes-wr ul li .box img {
        width: 480px;
        max-height: none;
    }
    .boxes-wr ul li .box .text-box {
        padding: 0 20px 20px;
    }
    .boxes-wr ul li .box .text-box .title-wr h3 {
        font-size: 36px;
    }
}

/*****************
disability-support
*****************/

#disability-support {
    border: 4px solid var(--main-color);
}

/*****************
disability-support
*****************/
/**********
shiinomien
**********/

#disability-support ul li .shiinomien{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#disability-support ul li .shiinomien img{
    object-position: 50% 25%;
}

#disability-support ul li .shiinomien .text-box{
    border-top: 2px solid var(--main-color);
}

#disability-support ul li .shiinomien .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #disability-support ul li .shiinomien {
        border: 6px solid var(--main-color);
    }
    #disability-support ul li .shiinomien .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/*****************
disability-support
*****************/
/**********
tsumuginoie
**********/

#disability-support ul li .tsumuginoie{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#disability-support ul li .tsumuginoie img{
    object-position: 50% 70%;
}

#disability-support ul li .tsumuginoie .text-box{
    border-top: 2px solid var(--main-color);
}

#disability-support ul li .tsumuginoie .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #disability-support ul li .tsumuginoie {
        border: 6px solid var(--main-color);
    }
    #disability-support ul li .tsumuginoie .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/*****************
disability-support
*****************/
/**********
ryogoen
**********/

#disability-support ul li .ryogoen{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#disability-support ul li .ryogoen img{
    object-position: 50% 34%;
}

#disability-support ul li .ryogoen .text-box{
    border-top: 2px solid var(--main-color);
}

#disability-support ul li .ryogoen .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #disability-support ul li .ryogoen {
        border: 6px solid var(--main-color);
    }
    #disability-support ul li .ryogoen .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/*****************
disability-support
*****************/
/**********
shiinomi
**********/

#disability-support ul li .shiinomi{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#disability-support ul li .shiinomi .text-box{
    border-top: 2px solid var(--main-color);
}

#disability-support ul li .shiinomi .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #disability-support ul li .shiinomi {
        border: 6px solid var(--main-color);
    }
    #disability-support ul li .shiinomi .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/************
elderly-care
************/

#elderly-care {
    border: 4px solid var(--main-color);
}

/************
elderly-care
*************/
/*******
muroganosato
********/

#elderly-care ul li .muroganosato{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#elderly-care ul li .muroganosato img{
    object-position: 50% 43%;
}

#elderly-care ul li .muroganosato .text-box{
    border-top: 2px solid var(--main-color);
}

#elderly-care ul li .muroganosato .text-box.title-wr h3 span {
    display: inline-block;
}

#elderly-care ul li .muroganosato .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #elderly-care ul li .muroganosato{
        border: 6px solid var(--main-color);
    }
    #elderly-care ul li .muroganosato .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/************
elderly-care
*************/
/*******
day-service
********/

#elderly-care ul li .day-service{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#elderly-care ul li .day-service img{
    object-position: 50% 72%;
}

#elderly-care ul li .day-service .text-box{
    border-top: 2px solid var(--main-color);
}

#elderly-care ul li .day-service .text-box .title-wr h3 span{
    display: inline-block;
    font-size: clamp(20px, 3vw, 24px);
}

#elderly-care ul li .day-service .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #elderly-care ul li .day-service{
        border: 6px solid var(--main-color);
    }
    #elderly-care ul li .day-service .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
    #elderly-care ul li .day-service .text-box .title-wr h3 span{
    font-size: 32px;
}
}

/************
elderly-care
*************/
/*******
ikiikikaigo
********/

#elderly-care ul li .ikiikikaigo{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#elderly-care ul li .ikiikikaigo img{
    object-position: 50% 22%;
}

#elderly-care ul li .ikiikikaigo .text-box{
    border-top: 2px solid var(--main-color);
}

#elderly-care ul li .ikiikikaigo .text-box .title-wr h3{
    font-size: clamp(22px, 3vw, 28px);
}


#elderly-care ul li .ikiikikaigo .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #elderly-care ul li .ikiikikaigo{
        border: 6px solid var(--main-color);
    }
    #elderly-care ul li .ikiikikaigo .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
    #elderly-care ul li .ikiikikaigo .text-box .title-wr h3{
    font-size: 36px;
}
}

/************
consultation
************/

#consultation {
    border: 4px solid var(--main-color);
}

/************
consultation
*************/
/*******
kawanishi
********/

#consultation ul li .kawanishi{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#consultation ul li .kawanishi img{
    object-position: 50% 40%;
}

#consultation ul li .kawanishi .text-box{
    border-top: 2px solid var(--main-color);
}

#consultation ul li .kawanishi .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #consultation ul li .kawanishi{
        border: 6px solid var(--main-color);
    }
    #consultation ul li .kawanishi .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
}

/************
consultation
*************/
/*******
chiikihoukatsushien
********/

#consultation ul li .chiikihoukatsushien{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#consultation ul li .chiikihoukatsushien .text-box{
    border-top: 2px solid var(--main-color);
}

#consultation ul li .chiikihoukatsushien .text-box .title-wr h3{
    font-size: clamp(22px, 3vw, 28px);
}

#consultation ul li .chiikihoukatsushien .text-box .small-title::before{
    background-color: var(--main-color);
}

@media(min-width:1100px) {
    #consultation ul li .chiikihoukatsushien{
        border: 6px solid var(--main-color);
    }
    #consultation ul li .chiikihoukatsushien .text-box{
        border-top: none;
        border-left: 6px solid var(--main-color);
    }
    #consultation ul li .chiikihoukatsushien .text-box .title-wr h3{
    font-size: 36px
}
}


