/***********
下層ページ共通
************/
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 500;
}

.content {
    max-width: 880px;
    flex-grow: 1;
}

.content section {
    margin: 36px auto;
}

.content .text {
    font-family: 'BIZ UDPGothic',sans-serif;
    line-height: 1.8;
    font-weight: 400;
    max-width: 40em;
}

.content .content-head {
    width: 100%;
    border-bottom: #E7E8E7 solid 2px;
    display: block;
    margin-bottom: 1em;
}

.content .content-head .head-wr {
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px var(--main-color);
    width: fit-content;
    padding: 0 10px;
    margin-bottom: -2px;
}

.content .content-head p {
    margin: 10px 0;
}

.content .content-head h2 {
    margin: 0;
}

.content img {
    width: min(100%,420px);
    margin: 0;
    border-radius: 20px;
    display: block;
}

.content h1,.content h2,.content h3 {
    color: var(--main-color);
    font-weight: 500;
}

/** ページ内ナビ **/
.fasility-navi {
    display: none;
}

.content details summary {
    background-color: #9F2A00;
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 8px 20px;
}

.content details summary::after {
    display: block;
    content: "";
    background: url(../arrow-page-navi.svg) no-repeat;
    width: 28px;
    aspect-ratio: 1;
    background-size: contain;
}

.content details[open] summary::after {
    transform: rotate(180deg);
}

.navi {
    padding: 4px 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10PX;
    box-shadow: 0 4px 10px rgba(159,42,0,0.2);
}

.navi li {
    list-style: none;
    margin: 12px;
    border-bottom: 1px solid #9F2A00;
    padding: 0 8px 4px;
}

.navi li .btn-1 {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
}

.navi li .btn-1::before {
    background: url(../navi-arrow.svg) no-repeat;
    background-size: contain;
    width: clamp(16px, 13%, 24PX);
}

.navi li .btn-1 p {
    margin: 0;
}

@media(min-width:750px){
    .fasility-navi {
        display: block;
        max-width: 300px;
        min-width: 240px;
        position: sticky;
        height: fit-content;
        top: 16px;
        flex-grow: 1;
    }

    .content details {
        display: none;
    }    
}

/** fv **/
.fv .inner {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 1em;
}

.fv hgroup p {
    color: #fff;
    background-color: #E27800;
    width: fit-content;
    padding: 4px 8px;
}

.fv hgroup p::before {
    content: "●";
}

.fv hgroup h1 {
    color: var(--main-color);
    margin: 16px 0 16px 8px;
}

.fv .inner .access {
    padding-left: 8px;
}

.fv .inner .access .highlight {
    color: var(--main-color);
}

.fv .fv-content .fv-inner h2 {
    color: var(--main-color);
}

@media(min-width:920px){
    .fv .inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
}

@media(min-width:1024px){
    .fv .fv-content {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    
    .fv .fv-content img{
        width: min(50%,420px);   
        margin-block-start: 1.5em;
    }
}

/** news **/
#news .news-wr h3 {
    font-size: clamp(20px,4vw,24px);
}

#news .news-wr .text {
    margin: 0;
}

#news .news-wr .btn-1 {
    margin: 6px 0 1em;
    font-size: clamp(16px, 3.5vw, 20px);
}

#news .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6px 2%;
    margin: 1.5em 0;
}

#news .images img {
    width: min(49%,200px);
    flex-basis: 49%;
    margin: 0;
}

/* ポップアップ背景 */
.popup {
  display: none; /* 初期は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media(min-width:1024px){
    #news .content-inner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    
    #news .content-inner img{
        width: min(50%,420px);   
    }

    #news .news-wr h3 {
        margin: 0 0 12px;
    }
}

@media(min-width:1164px){
    #news .images img {
        flex-basis: 23%;
    }
}

/** support **/
.content .content-list {
    counter-reset: support;
    padding-left: 30px;
}

.content .content-list li {
    margin: 1em 0;
    counter-increment: support;
}

#support h3 {
    position: relative;
    margin: 0;
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}

.content .content-list h3::before,.content .content-list li::before {
    content: counter(support);
    background-color: var(--main-color);
    border-radius: 50%;
    width: 30px;
    display: block;
    color: #fff;
    aspect-ratio: 1;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -36px;
}

#support .text {
    margin: 0;
    font-size: clamp(16px,3.5vw,20px);
}

@media(min-width:640px){
    #support .content-list {
        margin: 16px;
    }
}

/** guide **/
#guide .text {
    font-size: clamp(16px,3.5vw,20px);
}

#guide .content-list li {
    position: relative;
    color: var(--main-color);
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}
@media(min-width:640px){
    .content .content-wr {
        margin: 16px;
    }
}

/** policy **/
#policy ul {
    padding-left: 0em;
    font-size: clamp(16px, 3.5vw, 20px); 
}

#policy ul p {
    margin: 0; 
}

/** facility **/
#facility p {
    font-size: clamp(16px, 3.5vw, 20px);
}

.info-table {
    width: 100%;
    max-width: 880px;
    border-collapse: separate;
    border-spacing: 0 10px; /* 行間 */
    margin-top: 8px;
    font-size: clamp(16px, 3.5vw, 20px); 
}

.info-table th {
    background: #8a2100;
    color: #fff;
    padding: 14px 20px;
    width: 180px; /* 左幅固定（調整OK） */
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info-table td {
    position: relative;
    background: #fff;
    padding: 14px 20px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 5px -2px #9f2a00;
}

.info-table td::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99%;
    height: 0.5px;   
    background-color: #9f2a00;
}

@media (max-width: 900px) {
    .info-table {
        width: 90%;
    }
    .info-table tr {
        display: block;
        margin-bottom: 20px;
    }

    .info-table th{
        display: block;
        width: 100%;
        border-top-right-radius: 5px;
    }

    .info-table td {
        display: block;
        width: 100%;
        border-top-right-radius: 5px;
    }

    .info-table .employee td {
        display: block;
        width: 90%;
    }
}

.fee-table table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: clamp(16px, 3.5vw, 20px); 
}

.fee-table th {
    background: #8a2100;
    color: #fff;
    padding: 14px 20px;
    width: 180px; /* 左幅固定（調整OK） */
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #8a2100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fee-table td {
    position: relative;
    background: #fff;
    padding: 14px 20px;
    border-left: none;
    border: 1px solid #9f2a00;
}

.fee-table .title {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .fee-table table,
    .fee-table tr,
    .fee-table th,
    .fee-table td {
        display: block; 
        width: 97%;           
    }

    .fee-table th {
        margin-top: 16px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #fff
    }
}

#fees p {
    font-size: clamp(16px, 3.5vw, 20px); 
}

#fees .way {
    color: #9f2a00;
    margin-bottom: 0;
}

#fees .way-inner {
    margin-top: -16px;
}


/***********
しいのみ園
************/

#popup {
    display: none; /* label でコントロールするので input は非表示に */
}

.popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

.popup-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}

#popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup-window {
    width: 80vw;
    max-width: 470px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#news .content-inner .popup-window img {
    width: 90%;
    display: block;
    border-radius: 4px; /* optional */
    margin: auto;
}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
}

@media screen (min-width:1024px) {
    #news .content-inner .popup-window img {
    width: 470px;
}
}
