#news .images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 6px 2%;
    margin: 1.5em 0;
}

#news .images img {
    object-fit: cover;
    margin: 0;
}

#news .images img:nth-child(1) {
    aspect-ratio: 3/2;
    flex-basis: 67%;
}

#five-support h3 {
    position: relative;
    margin: 0;
    font-size: clamp(20px,4vw,24px);
    display: flex;
    align-items: center;
}

.content .content-list h3::before,.content .content-list li::before {
    content: counter(support);
    background-color: var(--main-color);
    border-radius: 50%;
    width: 30px;
    display: block;
    color: #fff;
    aspect-ratio: 1;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -36px;
    top: 3px;
}

#five-support .text {
    margin: 0;
    font-size: clamp(16px,3.5vw,20px);
}

@media(min-width:640px){
    #five-support .content-list {
        margin: 16px;
    }
}