.navi .btn-1::before {
    min-width: 24px;
}

#fees .box {
    padding: 30px 0;
    border-top: 2px dotted var(--main-color);
}

#fees .box:first-of-type {
    border-top: 0;
}

#fees .box h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}


@media (min-width: 500px) {
    .three-row {
        border-spacing: 0;
    }

    .three-row tr,
    .three-row th,
    .three-row td {
        border-radius: 0;
        border-bottom: 0;
    }

    .three-row th {
        border-bottom: 2px solid #ffffff;
    }

    .three-row tr:last-child th,
    .three-row tr.only th {
        border-bottom: 2px solid var(--main-color);
    }

    .three-row tr:last-child td {
        border-bottom: 2px solid var(--main-color);
    }

    .three-row tr:first-child th {
        border-radius: 6px 0 0 0;
    }

    .three-row tr:first-child td:last-child {
        border-radius: 0 6px 0 0;
    }

    .three-row tr:last-child th {
        border-radius: 0 0 0 6px;
    }

    .three-row tr.only th {
        border-radius: 6px 0 0 6px;
    }

    .three-row tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
    }
}

.three-row tr.only {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.three-row tr.only {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.three-row tr.only th {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.three-row tr.only td {
    width: 50%;
    border-radius: 0;
    border: 2px solid var(--main-color);
    border-bottom: 0;
}

.three-row tr.only:first-child td:last-child {
    border-radius: 0;
}

.three-row tr.only:last-child td:first-child {
    border: 2px solid var(--main-color);
    border-radius: 0 0 0 6px;
}

.three-row tr.only:last-child td:last-child {
    border: 2px solid var(--main-color);
    border-radius: 0 0 6px 0;
}